@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-below-navbar {
    padding-top: 120px; 
  }

  /* width */
.dashboard ::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
.dashboard ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
.dashboard ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
}
 
/* Handle on hover */
.dashboard ::-webkit-scrollbar-thumb:hover {
    background: #888;
}
